<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
        <div class="flexrow">
          <ul class="flex-group-center flex-compteurs">
            <li>
              <label class="ctn-vie">
                Vie
                <a id="vie-moins">-</a>
                <input class="resource-content" type="text" name="data.sante.vie.value" value="{{data.sante.vie.value}}" data-dtype="Number"/>
                <span>/ {{data.sante.vie.max}}</span>
                <a id="vie-plus">+</a>
              </label>
            </li>
            <li>
              <label class="ctn-endu">
                Endurance
                <a id="endurance-moins">-</a>
                <input class="resource-content" type="text" name="data.sante.endurance.value" value="{{data.sante.endurance.value}}" data-dtype="Number"/>
                <span>/ {{data.sante.endurance.max}}</span>
                <a id="endurance-plus">+</a>
              </label>
            </li>
            <li>
              <label class="ctn-fatigue tooltip">
                Fatigue
                <a id="fatigue-moins">-</a>
                <span class="tooltiptext">{{{data.fatigue.html}}}</span>
                <input class="resource-content" id="fatigue-value" type="text" name="data.sante.fatigue.value" value="{{data.sante.fatigue.value}}" data-dtype="Number" />
                <span>/ {{data.sante.fatigue.max}}</span>
                <a id="fatigue-plus">+</a>
              </label>
            </li>
            <li>
              <label class="ctn-sonne">
                Sonné :
                <input class="resource-content" type="checkbox" name="data.sante.sonne.value" value="{{data.sante.sonne.value}}" {{#if data.sante.sonne.value}}checked{{/if}} />
              </label>
            </li>
            <li>
              <label class="ctn-reve">
                <span class="ptreve-actuel"><a>Rêve</a></span>
                <a id="ptreve-actuel-moins">-</a>
                <input class="resource-content" id="pointsreve-value" type="text" name="data.reve.reve.value" value="{{data.reve.reve.value}}" data-dtype="Number" />
                <span>/ {{data.reve.seuil.value}}</span>
                <a id="ptreve-actuel-plus">+</a>
              </label>
            </li>
            <li class="lock-unlock-sheet">
              <label><a>{{data.lockUnlockText}}</a></label>
            </li>
          </ul>
          <div class="flex-group-center  flex-actions-bar">
            <div>
              <span id="encaisser-direct"><a title="Encaisser des dommages"><img class="button-img" src="icons/svg/bones.svg" alt="Encaisser des dommages"/></a></span>
              <span id="remise-a-neuf" class="gm-only"><a title="Remise à neuf"><img class="button-img" src="icons/svg/regen.svg" alt="Remise à neuf"/></a></span>
              <span id="dormir-une-heure"><a title="Dormir une heure"><img class="button-img" src="icons/svg/sleep.svg" alt="Dormir une heure"/></a></span>
              <span id="dormir-chateau-dormant"><a title="Chateau Dormant"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/icons/heures/hd12.svg" alt="Chateau Dormant"/></a></span>
              <span id="monte-tmr"><a title="Montée dans les Terres M&eacute;dianes !"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-normal.svg" alt="Montée dans les Terres M&eacute;dianes !"/></a></span>
              <span id="monte-tmr-rapide"><a title="Montée accélérée dans les Terres M&eacute;dianes !"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-rapide.svg" alt="Montée accélérée dans les Terres M&eacute;dianes !"/></a></span>
              <span id="visu-tmr"><a title="Regarder les Terres M&eacute;dianes"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-view.svg" alt="Regarder les Terres M&eacute;dianes"/></a></span>
              </div>
            <div class="flexrow">
              <span class="tooltip">Malus de fatigue : {{data.fatigue.malus}}
                <span class="tooltiptext">{{{data.fatigue.html}}}</span>
              </span>
              <span>
                {{#if data.nbLegeres}}
                  Blessures: {{data.nbLegeres}} légères
                  {{#if data.nbGraves}}, {{data.nbGraves}} graves{{/if}}
                  {{#if data.nbCritiques}}, une CRITIQUE !{{/if}}
                {{else}}
                  {{#if data.nbGraves}}
                    Blessures:{{data.nbGraves}} graves
                    {{#if data.nbCritiques}}et une CRITIQUE !{{data.nbCritiques}}{{/if}}
                  {{else}}
                    {{#if data.nbCritiques}}une CRITIQUE !{{data.nbCritiques}}
                    {{else}}Aucune blessure
                    {{/if}}
                  {{/if}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="carac">Carac.</a>
        <a class="item" data-tab="competences">Compétences</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="blessurescompteurs">États</a>
        <a class="item" data-tab="hautreve">Haut-Rêve</a>
        <a class="item" data-tab="items">Équipement</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="carac">
          <div class="grid grid-2col">
            <div class="flex-group-left flexcol">
              <ul class="carac-list alterne-list">
                {{#each data.carac as |carac key|}}
                    <li class="competence flexrow list-item" data-attribute="{{key}}">
                      {{#if carac.isTaille}}
                        <span class="carac-label flexrow" name="data.carac.{{key}}.label">{{carac.label}}</span>
                      {{else}}
                        <span class="carac-label flexrow" name="data.carac.{{key}}.label"><a name={{key}}>{{carac.label}}</a></span>
                      {{/if}}
                        {{#if carac.derivee}}
                          <label class="competence-value flexrow">{{carac.value}}</label>
                        {{else}}
                          <input class="carac-value flexrow" type="text" name="data.carac.{{key}}.value" value="{{carac.value}}" data-dtype="{{carac.type}}" {{#unless @root.data.editCaracComp}}disabled{{/unless}} />
                          <input class="competence-xp flexrow" type="text" name="data.carac.{{key}}.xp" value="{{carac.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}} />
                        {{/if}}
                    </li>
                {{/each}}
                <li class="competence flexrow">
                  <span class="carac-label flexrow" name="carac-total">Total Caractéristiques </span>
                  <span class="competence-value flexrow" name="carac-total-value">{{data.caracSum}} </span>
                </li>
              </ul>          
            </div>
            <div class="flex-group-left flexcol" >
              <ul class="carac-list">
                {{#each data.attributs as |attr key|}}
                    <li class="competence flexrow" data-attribute="{{key}}">
                        <span class="competence-label flexrow" name="data.attributs.{{key}}.label">{{attr.label}} : {{attr.value}}</span>
                    </li>
                {{/each}}
                {{#each data.sante as |point key|}}
                    <li class="competence flexrow" data-attribute="{{key}}">
                        <span class="competence-label flexrow" name="data.attributs.{{key}}.label">{{point.label}} : {{point.value}} / {{point.max}}</span>
                    </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        
        {{!-- Compétences Tab --}}
        <div class="tab competences" data-group="primary" data-tab="competences">
          <div class="grid grid-2col">
            <div class="flex-group-left flexcol competence-column">
              <header class="competence-header flexrow">
                  <span class="competence-title">Compétences de base</span>
              </header>
              <ul class="item-list alterne-list">
                {{#each data.competenceByCategory.generale as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.generale[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.generale[{{key}}].data.value" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.generale[{{key}}]].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>

              <header class="competence-header flexrow">
                  <span class="competence-title">Compétences Particulières</span>
              </header>
              <ul class="item-list alterne-list">
                {{#each data.competenceByCategory.particuliere as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.particuliere[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.particuliere[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.particuliere[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>
            <header class="competence-header flexrow">
                <span class="competence-title">Compétences Spécialisées</span>
            </header>
            <ul class="item-list alterne-list">
              {{#each data.competenceByCategory.specialisee as |comp key|}}
                <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                    <img class="sheet-competence-img" src="{{comp.img}}"/>
                    <span class="competence-label" name="data.competenceByCategory.specialisee[{{key}}].name"><a>{{comp.name}}</a></span>
                    <input class="competence-value" type="text" name="data.competenceByCategory.specialisee[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                    <input class="competence-xp" type="text" name="data.competenceByCategory.specialisee[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
              {{/each}}
            </ul>
          </div>
            
            <div class="flex-group-left flexcol competence-column">
              <header class="competence-header flexrow">
                  <span class="competence-title">Compétences De Mêlée</span>
              </header>
              <ul class="item-list alterne-list">
                {{#each data.competenceByCategory.melee as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.melee[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.melee[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.melee[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>

              <header class="competence-header flexrow">
                  <span class="competence-title">Compétences De Tir</span>
              </header>
              <ul class="item-list alterne-list">
                {{#each data.competenceByCategory.tir as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.tir[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.tir[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.tir[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>

              <header class="competence-header flexrow">
                  <span class="competence-title">Compétences De Lancer</span>
              </header>
              <ul class="item-list alterne-list">
              {{#each data.competenceByCategory.lancer as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.lancer[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.lancer[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number"{{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.lancer[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>

              <header class="competence-header flexrow">
                  <span class="competence-title">Connaissances</span>
              </header>
              <ul class="item-list alterne-list">
                {{#each data.competenceByCategory.connaissance as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.connaissance[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.connaissance[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.connaissance[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
              </ul>

              <header class="competence-header flexrow">
                  <span class="competence-title">Draconic</span>
              </header>
              <ul class="item-list alterne-list">
              {{#each data.competenceByCategory.draconic as |comp key|}}
                  <li class="item flexrow list-item" data-item-id="{{comp._id}}">
                      <img class="sheet-competence-img" src="{{comp.img}}"/>
                      <span class="competence-label" name="data.competenceByCategory.draconic[{{key}}].name"><a>{{comp.name}}</a></span>
                      <input class="competence-value" type="text" name="data.competenceByCategory.draconic[{{key}}].data.niveau" compname="{{comp.name}}" value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <input class="competence-xp" type="text" name="data.competenceByCategory.draconic[{{key}}].data.xp" compname="{{comp.name}}" value="{{comp.data.xp}}" data-dtype="number" {{#unless @root.data.editCaracComp}}disabled{{/unless}}/>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>                    
                  </li>
              {{/each}}
              </ul>
              <div>
                <ul class="item-list">
                  <li class="item flexrow">
                    <span class="competence-label">Total XP compétences</span>
                    <span class="competence-value">{{data.competenceXPTotal}}</span>
                  </li>
                </ul>
              </div>    
            </div>
          </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <ul class="item-list alterne-list">
              <li class="competence-header flexrow">
                <span class="competence-title competence-label">Armes</span>
                <span class="competence-title competence-label">Comp.</span>
                <span class="competence-title competence-value">Niveau</span>
                <span class="competence-title competence-value">+dom</span>
              </li>
            {{#each data.combat as |arme key|}}
              <li class="item flexrow list-item" data-item-id="{{arme._id}}">
                  <span class="arme-label" name="data.armes[{{key}}].name"><a data-competence-name="{{arme.data.competence}}">{{arme.name}}</a></span>
                  <span class="competence-label" name="data.armes[{{key}}].data.competence">{{arme.data.competence}}</span>
                  <span class="competence-value" name="data.armes[{{key}}].data.niveau">{{numberFormat arme.data.niveau decimals=0 sign=true}}</span>
                  <span class="competence-value" name="data.armes[{{key}}].data.dommages">{{numberFormat arme.data.dommages decimals=0 sign=true}}</span>
              </li>
            {{/each}}
            </ul>
        </div>

        {{!-- Compteurs/Blessures Tab --}}
        <div class="tab blessurescompteurs" data-group="primary" data-tab="blessurescompteurs">
          <div class="flex-group-left">
            <ul class="item-list flexrow">
              {{#each data.compteurs as |compteur key|}}
              <li class="item list-item">
                <span class="competence-label">{{compteur.label}}</span>
                {{#if compteur.isInput}}
                <input class="stress-value stress-style compteur-edit" id="{{key}}-edit" type="text" name="{{key}}" value="{{compteur.value}}" data-dtype="number"/>
                  {{#if compteur.isStress}}
                  <a class="item-control stress-test" id="stress-test" title="Faire un jet de Stress">Faire un jet de Stress</a>
                  {{else}}
                  <label></label>
                  {{/if}}
                <label></label>
                {{else}}
                <span class="competence-label">{{compteur.value}}</span>
                {{/if}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Liste de blessures --}}
          <div class="flex-group-left flexcol competence-column">
            <h3 class="blessures-title">Blessures Légeres :</h3>
            <ul class="blessure-data flexrow alterne-list blessures-list">
              {{#each data.blessures.legeres.liste as |bless key|}}
              <li class="item flexrow blessure-data list-item" data-blessure-type="legere" data-attribute={{key}} data-blessure-index="{{key}}">
                <ul>
                  <li class="item-control blessure-control" title="Blessure Légère" data-blessure-active="{{bless.active}}">
                    {{#if bless.active}}
                      <i class="fas fa-circle"></i>
                    {{else}}
                      <i class="fas fa-genderless"></i>
                    {{/if}}
                  </li>
                  <li>
                    Premiers soins
                    <input class="blessures-soins" type="text" name="premiers_soins" data-dtype="number" value="{{bless.premiers_soins}}"/>
                  </li>
                  <li>
                    Soins complets
                    <input class="blessures-soins" type="text" name="soins_complets" data-dtype="number" value="{{bless.soins_complets}}"/>
                  </li>
                  <li>
                    Jours
                    <input class="blessures-soins" type="text" name="jours" data-dtype="number" value="{{bless.jours}}"/>
                  </li>
                  <li>
                    Loc.
                    <input class="blessures-soins" type="text" name="localisation" data-dtype="String" value="{{bless.localisation}}"/>
                  </li>
                </ul>
              </li>
              {{/each}}
            </ul>
            <h3 class="blessures-title">Blessures Graves :</h3>
            <ul class="flexrow alterne-list blessures-list">
              {{#each data.blessures.graves.liste as |bless key|}}
              <li class="item flexrow list-item" data-blessure-type="grave" data-attribute={{key}} data-blessure-index="{{key}}" >
                <ul>
                  <li class="item-control blessure-control" title="Blessure Grave" data-blessure-active="{{bless.active}}">
                    {{#if bless.active}}
                      <i class="fas fa-circle"></i>
                    {{else}}
                      <i class="fas fa-genderless"></i>
                    {{/if}}
                  </li>
                  <li>
                    Premiers soins
                    <input class="blessures-soins" type="text" name="premiers_soins" data-dtype="number" value="{{bless.premiers_soins}}"/>
                  </li>
                  <li>
                    Soins complets
                    <input class="blessures-soins" type="text" name="soins_complets" data-dtype="number" value="{{bless.soins_complets}}"/>
                  </li>
                  <li>
                    Jours
                    <input class="blessures-soins" type="text" name="jours" data-dtype="number" value="{{bless.jours}}"/>
                  </li>
                  <li>
                    Loc.
                    <input class="blessures-soins" type="text" name="localisation" data-dtype="String" value="{{bless.localisation}}"/>
                  </li>
                </ul>
              </li>
              {{/each}}
            </ul>
            <h3 class="blessures-title">Blessure Critique :</h3>
            <ul class="flexrow alterne-list blessures-list">
              {{#each data.blessures.critiques.liste as |bless key|}}
              <li class="item list-item flexrow" data-blessure-type="critique" data-attribute={{key}} data-blessure-index="{{key}}" >
                <ul>
                  <li class="flex-group-center item-control blessure-control" title="Blessure Critique" data-blessure-active="{{bless.active}}">
                    {{#if bless.active}}
                      <i class="fas fa-circle"></i>
                    {{else}}
                      <i class="fas fa-genderless"></i>
                    {{/if}}
                  </li>
                  <li>
                    Premiers soins
                    <input class="blessures-soins" type="text" name="premiers_soins" data-dtype="number" value="{{bless.premiers_soins}}"/>
                  </li>
                  <li>
                    Soins complets
                    <input class="blessures-soins" type="text" name="soins_complets" data-dtype="number" value="{{bless.soins_complets}}"/>
                  </li>
                  <li>
                    Jours
                    <input class="blessures-soins" type="text" name="jours" data-dtype="number" value="{{bless.jours}}"/>
                  </li>
                  <li>
                    Loc.
                    <input class="blessures-soins" type="text" name="localisation" data-dtype="String" value="{{bless.localisation}}"/>
                  </li>
                </ul>
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Queues, Souffles, Tetes, Ombre --}}
          <ul class="flex-group-left">
            <li class="item flexrow" data-attribute={{key}} data-item-id="{{queue._id}}">
              <h3>Queues:</h3>
              {{#each data.queues as |queue key|}}
                <span class="queuesouffle-label"> <a data-item-id="{{queue._id}}">{{queue.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              {{/each}}
            </li>
            <li class="item flexrow" data-attribute={{key}} data-item-id="{{souffle._id}}">
              <h3>Souffles:</h3>
              {{#each data.souffles as |souffle key|}}
                <span class="queuesouffle-label"> <a data-item-id="{{souffle._id}}">{{souffle.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              {{/each}}                 
            </li>
            <li class="item flexrow" data-attribute={{key}} data-item-id="{{tete._id}}">
              <h3>Tetes:</h3>
              {{#each data.tetes as |tete key|}}
                <span class="queuesouffle-label"> <a data-item-id="{{tete._id}}">{{tete.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              {{/each}}
            </li>
            <li class="item flexrow" data-attribute={{key}} data-item-id="{{ombre._id}}">
              <h3>Ombres de Thanatos:</h3>
              {{#each data.ombres as |ombre key|}}
                <span class="queuesouffle-label"> <a data-item-id="{{ombre._id}}">{{ombre.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              {{/each}}
            </li>
          </ul>
      </div>

      {{!-- hautreve Tab --}}
      <div class="tab hautreve " data-group="primary" data-tab="hautreve" style="height:200px">
        <div>
          <ul class="item-list">
            <li class="item flexrow">
              <span class="competence-label">Position en TMR :</span> 
              <span>
              {{#if data.isGM}}
                <input class="competence-value" type="text" name="data.reve.tmrpos.coord" value="{{data.reve.tmrpos.coord}}" data-dtype="String"/>
              {{else}}
                {{data.reve.tmrpos.coord}}
              {{/if}}
              </span>
            </li>
            <li class="item flexrow">
              <span class="competence-label">Seuil de Rêve :</span>
              <span>
              {{#if data.isGM}}
                <input class="seuil-reve-value" type="text" name="data.reve.seuil.value" value="{{data.reve.seuil.value}}" data-dtype="Number"/>
              {{else}}
                {{data.reve.seuil.value}}
              {{/if}}
              </span>
            </li>
            <li class="item flexrow" >
              <span class="competence-label">Refoulement : </span>
              <span>
              {{#if data.isGM}}
                <input class="competence-value" type="text" name="data.reve.refoulement.value" value="{{data.reve.refoulement.value}}" data-dtype="Number"/>
              {{else}}
                {{data.reve.refoulement.value}}
              {{/if}}
              </span>
            </li>
          </ul>
        </div>
        <div>
          <span><strong>Sorts:</strong></span>
          <ul class="item-list">
            {{#each data.sorts as |mysort key|}}
            <li class="item flexrow" data-item-id="{{mysort._id}}" data-attribute="{{key}}">
              <span class="sort-label"> <a data-id="{{mysort._id}}">{{mysort.name}}</a></span> 
              <span>{{mysort.data.draconic}} / {{mysort.data.difficulte}}</span>
              <div class="item-controls">
                <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
        <div>
          <span><strong>Sorts en Réserve:</strong></span>
          <ul class="item-list">
            {{#each data.sortReserve as |reserve key|}}
            <li class="item flexrow" data-item-id="{{mysort._id}}" data-attribute="{{key}}">
              <span class="sort-label"> {{reserve.sort.name}} - {{reserve.coord}}</span> 
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

      {{!-- Equipment Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        <span cass=item-name>Encombrement total/max : {{numberFormat data.encombrementTotal decimals=1}} / {{data.attributs.encombrement.value}} <b>{{data.surEncombrementMessage}}</b></span>
        <ul class="item-list alterne-list">
        <li class="competence-header flexrow">
          <span class="competence-title competence-label">Nom</span>
          <span class="competence-title competence-label">Q.</span>
          <span class="competence-title competence-value">Enc.</span>
          <span class="competence-title competence-value">Equiper</span>
          <span class="competence-title competence-value">Editer/Suppr.</span>
        </li>
        {{#each data.objets as |item id|}}
          {{#unless item.estContenu}}
          {{#if (ne item.type 'conteneur')}}
          <li class="item flexrow list-item" data-item-id="{{item._id}}">
              <img class="sheet-competence-img" src="{{item.img}}" title="{{item.name}}"/>
              <span class="item-name">{{item.name}}</span>
              <span class="item-quantite">{{item.data.quantite}}</span>
              <span class="item-quantite">{{numberFormat item.data.encTotal decimals=2}}</span>
              <div class="item-controls">
                  <a class="item-control item-equip" title="Equiper">{{#if item.data.equipe}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
              </div>
          </li>
          {{/if}}
          {{/unless}}
        {{/each}}
          {{#each data.conteneurs as |conteneur id|}}
          {{buildConteneur this}}
          {{/each}}
        </ul>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">        
        <article class="flexrow">
          <ul class="item-list alterne-list">
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Sexe : 
                <input class="description-value flexrow" type="text" name="data.sexe" value="{{data.sexe}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Poids : 
                <input class="description-value flexrow" type="text" name="data.poids" value="{{data.poids}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Taille : 
                <input class="description-value flexrow" type="text" name="data.taille" value="{{data.taille}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Cheveux : 
                <input class="description-value flexrow" type="text" name="data.cheveux" value="{{data.cheveux}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Yeux : 
                <input class="description-value flexrow" type="text" name="data.yeux" value="{{data.yeux}}" data-dtype="String"/>
              </label>
            </li>
          </ul>
          <ul class="item-list alterne-list">
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Age : 
                <input class="description-value flexrow" type="text" name="data.age" value="{{data.age}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Heure de naissance : 
                <input class="description-value flexrow" type="text" name="data.heure" value="{{data.heure}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Beauté : 
                <input class="description-value flexrow" type="text" name="data.beaute" value="{{data.beaute}}" data-dtype="String"/>
              </label>
            </li>
            <li class="item flexrow list-item">
              <label class="description-label competence-label">Main directrice : 
                <input class="description-value flexrow" type="text" name="data.main" value="{{data.main}}" data-dtype="String"/>
              </label>
            </li>
          </ul>
        </article>
        <article class="flexcol">
          <h3>Biographie : </h3>
          <div class="form-group editor">
            {{editor content=data.biographie target="data.biographie" button=true owner=owner editable=editable}}
          </div>
          <h3>Notes : </h3>
          <div class="form-group editor">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
          </div>
        </article>
      </div>

    </section>
</form>

