<div id="calendar-time-container">
	<div id="calendar">
		<h3 id="calendar-hdr">
			<span id="calendar-date" title="{{localize 'EditCalendar'}}">Date</span><span title="{{localize 'EditCalendar'}}" id="calendar-date-num">DateNum</span>
			<i id=calendar-weather class="fas fa-cloud-sun" title="{{localize 'Weather'}}"></i>
		</h3>
		<div class="calendar-container">
			<div class="calendar-btn-container-left">
				<i id="calendar-btn-sec" class="fas fa-angle-right" title="{{localize 'Advance1second'}}" disabled></i>
				<i id="calendar-btn-halfMin" class="fas fa-angle-double-right" title="{{localize 'Advance30seconds'}}" disabled></i>
				<i id="calendar-btn-min" class="fas fa-play" title="{{localize 'Advance1minute'}}"></i>
				<i id="calendar-btn-fiveMin" class="fas fa-step-forward" title="{{localize 'Advance5minutes'}}"></i>
			</div>
			<div class="calendar-weekday-time">
				<p id="calendar-weekday">Day of the Week</p>
				<span class="calendar-time"><p class="calendar-time-disp" id="calendar-time" title="{{localize 'StartStopPseudo'}}">Time</p><span id='calender-time-running'>•</span></span>
			</div>
			<div class="calendar-btn-container-right">
				<i id="calendar-btn-quick" class="fas fa-forward" title="{{localize 'Advance15minutes'}}" ></i>
				<i id="calendar-btn-long" class="fas fa-fast-forward" title="{{localize 'Advance1hour'}}" ></i>
				<i id="calendar-btn-day" class="fas fa-sun" title="{{localize 'Advance7amNextDay'}}"></i>
				<i id="calendar-btn-night" class="fas fa-moon" title="{{localize 'AdvanceToMidnight'}}"></i>
			</div>
		</div>
	</div>
</div>
