<form class="encaisse-roll-dialog">
<h2 class="encaisserdialog" id="encaisserTitle"></h2>
<div class="form-group">
  <label class="competence-label">Modificateurs aux Dommages:</label>
  <select class="competence-value" name="modificateurDegats" id="modificateurDegats" data-dtype="number">
      {{#select modificateurDegats}}
      {{#each ajustementsEncaissement as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>
</form>

<script>
</script>
