<form class="dialog-roll-sort">
<h2 class="compdialog" id="sort-dialog"></h2>

<div class="form-group">
  <label for="categorie">Rêve : {{selectedCarac.value}}</label>
  <label for="categorie">TMR : {{coord}} - {{coordLabel}}</label>
</div>

<div class="form-group">
  <label for="categorie">Draconic </label>
  <select name="draconic" id="draconic" data-dtype="String">
      {{#select draconic}}
      {{#each draconicList as |draconic key|}}
      <option value={{key}}>{{draconic.name}} : {{draconic.data.niveau}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label for="categorie">conditions</label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>

<div class="form-group">
  <label for="categorie">Sort </label>
  <select name="sort" id="sort" data-dtype="String">
      {{#select sort}}
      {{#each sortList as |sort key|}}
      <option value={{key}}>{{this.name}} - {{#if this.data.caseTMRspeciale}} {{this.data.caseTMRspeciale}} {{else}}{{this.data.caseTMR}}{{/if}} / R{{this.data.difficulte}} r {{sort.data.ptreve}}</option>

      {{/each}}
      {{/select}}
  </select>
</div>

<div class="form-group" id="div-sort-difficulte">
  <label for="categorie">Difficulté </label>
  <select name="diffLibre" id="diffLibre" data-dtype="number">
    {{#select diffLibre}}
    {{#each difficultesLibres  as |key|}}
    <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
    {{/each}}
  {{/select}}
  </select>
</div>

<div class="form-group" id="div-sort-ptreve">
  <label for="categorie">Couts en Points de Rêve </label>
  <select name="ptreve-variable" id="ptreve-variable" data-dtype="number">
    {{#select ptreve-variable}}
    {{#each coutreve as |cout key|}}
    <option value={{cout}}>{{cout}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group etat-general">
  <label for="categorie">Etat général</label><label>{{numberFormat etat decimals=0 sign=true}}</label>
</div>
<div class="form-group">
  <label>Ajustement final : </label><label id="roll-param">10 / 0</label>&nbsp;&nbsp;&nbsp;<label name="addon-message" id="addon-message"></label>
</div>
<div id="resolutionTable">
  
</div>
</form>

<script>
</script>
