{{#if surencMalusFlag}}
<div class="form-group">
  <label for="xp">Appliquer le malus de sur-encombrement ? </label>
  <input class="attribute-value" type="checkbox" id="surencMalusApply" name="surencMalusApply"  {{#if surencMalusApply}}checked{{/if}}/>
</div>
{{/if}}
