<form class="tmr-dialog">
<h2 class="comptmrdialog" id="tmrDialogTitle"></h2>

<table id="tmrsheet">
  <tr id="tmrrow1">
    <td>
      <div class="flex-group-center">
        <a id="lancer-sort">Lancer un Sort</a>
      </div>
      <hr>
      <div class="flex-group-center">
        <label>Carac. Rêve : </label><label>{{caracReve}}</label>
      </div>
      <div class="flex-group-center">
        <label>Rêve Actuel : </label><span id="tmr-pointsreve-value">0</span>
      </div>
      <div class="flex-group-center">
        <label>Coordonnées : </label><span id="tmr-pos">0</span>
      </div>
      <div class="flex-group-center">
        <label>Etat général : </label><span id="tmr-etatgeneral-value">0</span>
      </div>
      <div class="flex-group-center">
        <label>Refoulement : </label><span id="tmr-refoulement-value">0</span>
      </div>
      <div class="flex-group-center flex-actions-bar">
        Fatigue 
        <span id="tmr-fatigue-table">{{{fatigue.html}}}</span>
      </div>
    </td>    
  </tr>
</table>

</form>

