{{#if isNatation}}
<div class="form-group">
  <label for="xp">Appliquer l'encombrement comme malus à la Natation (-{{encValueForNatation}} ) ? </label>
  <input class="attribute-value" type="checkbox" id="useEncForNatation" name="useEncForNatation"  {{#if useEncForNatation}}checked{{/if}}/>
</div>
{{/if}}
