<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexcol">
      <div class="form-group">
        <label>Niveau (si applicable)</label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>Quantité (Pépins)</label>
        <input class="attribute-value" type="text" name="data.quantite" value="{{data.quantite}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>Prix (sols)</label>
        <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>Milieu</label>
        <input class="attribute-value" type="text" name="data.milieu" value="{{data.milieu}}" data-dtype="String" />
      </div>
      <div class="form-group">
        <label>Fréquence</label>
        <select name="data.rarete" id="rarete" data-dtype="String">
          {{#select data.rarete}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/enum-rarete.html"}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label>Catégorie</label>
        <select name="data.categorie" id="categorie" data-dtype="String">
          {{#select data.categorie}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/enum-categorie.html"}}
          {{/select}}
        </select>
      </div>
      <div class="flexcol">
        <span><label>Description :</label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </section>

</form>