<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="categorie">Catégorie </label>
        <select name="data.categorie" id="categorie" data-dtype="String">
                {{#select item.data.categorie}}
                {{>"systems/foundryvtt-reve-de-dragon/templates/competence-categorie.html"}}
                {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="niveau">Niveau </label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">XP </label>
        <input class="attribute-value" type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="base">Niveau de base </label>
        <select name="data.base" id="base" data-dtype="Number">
                {{#select item.data.base}}
                {{>"systems/foundryvtt-reve-de-dragon/templates/competence-base.html"}}
                {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="defaut_carac">Caractéristique par défaut </label>
        <select name="data.defaut_carac" id="defaut_carac" data-dtype="String">
          {{#select item.data.defaut_carac}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/competence-carac-defaut.html"}}
          {{/select}}
        </select>        
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
