<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="niveau">Niveau </label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="niveau">Valeur de Caractéristique </label>
        <input class="attribute-value" type="text" name="data.carac_value" value="{{data.carac_value}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Arme ? </label>
        <input class="attribute-value" type="checkbox" name="data.iscombat"  {{#if data.iscombat}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="xp">Parade ? </label>
        <input class="attribute-value" type="checkbox" name="data.isparade"  {{#if data.isparade}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="niveau">Dommages (+dom), si applicable </label>
        <input class="attribute-value" type="text" name="data.dommages" value="{{data.dommages}}" data-dtype="Number"/>
      </div>
      <span><label>Description : </label></span>
      <div class="form-group editor" style="min-height: 400px !important;">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
     </section>
    
</form>
