<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Compétence</label>
        <input class="attribute-value" type="text" name="data.competence" value="{{data.competence}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Difficulté</label>
        <input class="attribute-value" type="text" name="data.difficulte" value="{{data.difficulte}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Points de tâches nécessaires</label>
        <input class="attribute-value" type="text" name="data.points_de_tache" value="{{data.points_de_tache}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Points de tâches obtenus<</label>
        <input class="attribute-value" type="text" name="data.points_de_tache_courant" value="{{data.points_de_tache_courant}}" data-dtype="Number"/>
      </div>
      <span><label>Description : </label></span>
      <div class="form-group editor" style="min-height: 400px !important;">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
     </section>
    
</form>
